# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variable files
.env

# Configuration files with sensitive data
config/settings.py

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# MacOS
.DS_Store

# Windows
Thumbs.db

# Temporary files
*.tmp
*.swp
*.bak

# Data files
/data/*
!data/.gitkeep